{% extends 'base.html' %}

{% block navbar %}
{% include "weather/includes/header.html"%}
{% endblock %}
{% load static %}

{% block content %}
<div class="container">
{% if messages %}
    <div class="alert-container mb-4">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
{% endif %}
{% if locations %}
    <h3 class="mb-4">Локации:</h3>
    <div class="row row-cols-1 row-cols-md-5 g-3 h-300 align-items-stretch">
        {% for location in locations %}
        <div class="col h-100 p-3">
            <div class="card h-100 p-3" style="min-height: 300px;">
                <div class="card-body card-body d-flex flex-column">
                    <h5 class="card-title mb-4">{{ location.name }},
                        <img class='rounded-1 border'
                             src="{% static 'weather/flags/' %}{{ location.country|lower }}.svg" height="25px"
                             alt="">
                    </h5>
                    <p class="cart-text mb-1">Широта: {{ location.latitude }}</p>
                    <p class="cart-text mb-1">Долгота: {{ location.longitude }}</p>
                    <p class="cart-text mb-1">Страна: {{ location.country }}</p>
                    <form method="post" name="save" class="mt-auto">
                        {% csrf_token %}
                        <input type="hidden" name="name" value="{{ location.name }}">
                        <input type="hidden" name="country" value="{{ location.country }}">
                        <input type="hidden" name="latitude" value="{{ location.latitude }}">
                        <input type="hidden" name="longitude" value="{{ location.longitude }}">
                        <button type="submit" class="btn btn-primary w-100">Добавить</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% else %}
    <h2 class="text-center mb-4">Локации не найдены</h2>
{% endif %}
</div>
{% endblock %}