<!DOCTYPE html>
<html lang="ru">

{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'weather/icons/favicon.png' %}">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" type="text/css" rel="stylesheet">
    <title>{% block title %}  Weather today {% endblock %}</title>
</head>

{% block navbar %}{% endblock %}

<body>

    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>

</html>